<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="container">
    <div class="wrapper">
      <div class="card-rotate-bg"></div>
  
      <div class="card">
        <div class="card-head">
          <!-- <img src="https://i.postimg.cc/RVFh2hkV/portfolio.jpg" alt="image" class="product-card"> -->
          <h4> {{country}} </h4> 
          <h2> {{temp}}°C</h2>
          
          
        </div>
  
        <div class="card-body">
          <div class="wrapper-flex mb">
            <div class="bid-info">
              
            </div>
          </div>
          <h4 class="product-name">More Information</h4>
  
          
  
          <div class="wrapper-flex">
            <div class="last-bid">Min Temp: {{temp_min}}°C</div>
  
            <div class="maxTemp">
              Max Temp : {{temp_max}}°C
            </div>
          </div>
          <br/>
          <br/>
          <div class="wrapper-flex">
            <div class="last-bid">Feels Like: {{feels_like}}°C</div>
  
            <div class="maxTemp">
              {{desc}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
<router-outlet />